@layout("/common/_container.html"){
<div id="app">
	<div class="ibox float-e-margins">
		<div class="ibox-content">
			<div class="form-horizontal">
				<input type="hidden" id="id" value="${coupon.id}">
				<div class="row">			
					<div class="col-sm-6">
						<#input id="" name="优惠券名称:" value="${coupon.couponName}"  underline="true"  disabled="disabled"/>
						<#input id="canUseNum" name="投放数量:" underline="true"/>
						
					</div>
					
				</div>
			</div>
			<div class="row btn-group-m-t">
				<div class="col-sm-12">
					<#button btnCss="info" name="提交" id="ensure" icon="fa-check"
						clickFun="GiftCouponInfoDlg.pushSubmit()" space="true" />
					<#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser"
						clickFun="GiftCouponInfoDlg.close()" space="true" />
				</div>
			</div>
		</div>
	</div>
</div>
<script src="${ctxPath}/static/modular/system/giftCoupon/coupon_info.js"></script>
<script>

</script>
@}
